header{
    text-align: center;
}
main{

}
.wrapper {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}
.box{
  height: 100%;
  
}
.red{
    background-color: #d32f2f;

  }
  
  .green {
    background-color: #4caf50;
    
  }
  
  .blue {
    background-color: #2196f3;
  }
  footer{
    text-align: center;
  }